<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div class="contenedor">
  <h2>Alerta  </h2>
  <button id="alert">Activar alerta</button>
    <div id="posalert">
      <p class="texto"> <strong>Esto es una alerta</strong> si deseasr cerrarla presiona la X</p>
      <button id="close" class="cerrar">X</button>
    </div>
    
</div>

<hr>

<div class="contenedor">
  <h2>Collapse </h2>
  <button id="toggle">Caja de texto</button>
    <div id="caja">
      <p class="texto2"> <strong>Esto es una caja</strong> que puedes collapsar con el mismo boton</p>
      
    </div>
    
</div>

<hr>


